
body{
    font-family:papyrus;
    text-align: center
    width: 50px;
}
p {
  width: 50%; 
  margin-inline: auto;
   text-align: right; 
   
}

footer{
    font-family:papyrus;
    text-align: center
    width:
}


